@keyframes hamburmusk {
    from {
        
        transform: scale(0.2);
    } to {
        transform: scale(2);
    }
}
@keyframes borzoi {
    from{
        transform:rotate3d(1,1,1,0deg);
    }
    to{
        transform:rotate3d(1,1,1,360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(720deg);
    }
    
}

body{
    background-image:url("heart-pink.gif");
    background-size:100vw 100vh;
    display:flex;
    width:100vw;
    height:100vh;
    align-items:center;
    justify-content: center;
    margin:0;
    padding: 0;
    flex-direction: column;
}


.borzoi{
    width: auto;
    height: 100%;
    animation:13.07533s borzoi linear infinite alternate;
}

.cap {
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detect:hover .cap {
    animation: 0.25s hamburmusk linear infinite alternate;
}

.detect:hover .cap .borzoi { 
    animation: 0.5s rotate linear infinite;
}

.borzoirow{
    padding:-5vh;
    width:90vw;
    display:flex;
    justify-content: space-between;
}
.center{
    padding:-10vh;
}