@keyframes borzoi {
    from{
        transform:rotate3d(1,1,1,0deg);
    }
    to{
        transform:rotate3d(1,1,1,360deg);
    }
}
body{
    background-image:url("heart-pink.gif");
    background-size:100vw 100vh;
    display:flex;
    width:100vw;
    height:90vh;
    align-items:center;
    justify-content: center;
    margin:0;
    padding-top:10vh;
    flex-direction: column;
}
.borzoi{
    animation:13.07533s borzoi linear infinite alternate;
    width:17%;
}
.borzoirow{
    padding:-5vh;
    width:75vw;
    display:flex;
    justify-content: space-between;
}
.center{
    padding:-10vh;
}